@use '../global/variables' as v;

.contact-header {
      background-image: url(../Boat-Ride-Adventures-final-assets/contact-header.jpg);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      height: 75vh;
      position: relative;
      transition: 0.2s;
   
      ul {
         display: flex;
         color: #fff;
         gap: 50px;
   
         li {
            margin: 60px 0;
            padding: 0 3px 3px 3px;
            transition: 0.2s;
            &:hover, &:focus {
               border-bottom: 2px solid v.$dandelion;
               transform: scale(1.1);
            }
         }
      }
   
      h1 {
         font-size: clamp(2.7rem, 8vw, 3.7rem);
         color: v.$dandelion;
         text-transform: uppercase;
         transition: 0.2s;
         position: absolute;
         top: 20vh;
         margin: 20px;
         color: v.$white;
      }

      @media (max-width: 768px) {
         h1 {
            font-size: clamp(2.2rem, 10vw, 3.7rem);
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            margin: 20px 0;
            text-align: center;
            
         }

         ul {
            justify-content: space-between;
            gap: 4%;
         }
      }

      @media (max-width: 387px) {
         h1 {
            // left: 20%;
         }
      }
}