@use '../global/variables' as v;

.contact-form {
   background-color: v.$iceblue;
   padding-bottom: 150px;
   
   .wrapper {
      display: flex;
      // position: relative;
   }

   form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: v.$twilightblue;
      gap: 50px;
      box-shadow: 20px 20px v.$dandelion;
      width: 55%;
      min-width: 500px;
      position: absolute;
      top: 320px;
      right: 100px;

      .name-email-flex {
         display: flex;
         justify-content: space-between;
      }

      input, textarea {
         background-color: v.$twilightblue;
         color: #fff;
         border: none;
         border-bottom: solid 2px v.$dandelion;
      }

      textarea {
         border: solid 2px v.$dandelion;
         padding: 20px;
      }

      input#name, input#email {
         width: 48%;
         padding: 10px 20px;
         color: rgba(255, 255, 255, );
         opacity: 10;
         transition: 0.2s;
         &:focus, &:hover {
            border-bottom-width: 5px;
         }
      }

      button {
         border: none;
         text-transform: uppercase;
         font-family: v.$headingfont;
      }
      
   }

   i {
      margin-right: 20px;
      color: v.$twilightblue;
   }

   span {
      display: inline-block;
      padding: 20px 0;
   }

   p {
      margin-bottom: 5px;
   }
}
