@use '../global/variables' as v;

.contact-form {
   background-color: v.$iceblue;
   padding-bottom: 150px;

   .wrapper {
      display: flex;
   }

   form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: v.$twilightblue;
      gap: 50px;
      box-shadow: 20px 20px v.$dandelion;
      width: 55%;
      min-width: 400px;
      max-width: 700px;
      position: absolute;
      top: 52%;
      left: 40%;

      .name-email-flex {
         display: flex;
         justify-content: space-between;
      }

      input,
      textarea {
         background-color: v.$twilightblue;
         color: #fff;
         border: none;
         border-bottom: solid 2px v.$dandelion;
         font-size: clamp(0.8rem, 1.6vw, 1rem);
         &::placeholder {
            color: v.$white;
            opacity: 1;
         }
      }

      textarea {
         border: solid 2px v.$dandelion;
         padding: 20px;
         transition: 0.2s;
         &:focus,&:hover {
            transform: scale(1.03);
            border-width: 3px;
         }
      }

      input#name,
      input#email {
         width: 48%;
         padding: 10px 20px;
         color: rgba(255, 255, 255, );
         opacity: 10;
         transition: 0.2s;
         &:focus,
         &:hover {
            transform: scaleX(1.08);
            border-bottom-width: 3px;
         }
      }

      button {
         border: none;
         text-transform: uppercase;
         font-family: v.$headingfont;
         &:hover, &:focus {
            transform: scale(1.03);
         }
      }

   }

   i {
      margin-right: 20px;
      color: v.$twilightblue;
      transition: 0.2s;
      &:hover, &:focus {
            transform: scale(1.3);
            transition: 0.2s;;
         }
   }

   .contact-info {
      width: 30%;
      position: relative;
      left: 0;;

      span {
         display: inline-block;
         padding: 20px 0;
      }

      p {
         font-size: clamp(0.8rem, 1.6vw, 1rem);
         margin-bottom: 5px;
      }

      .icons {
         display: flex;
         gap: 4%;

      }
   }

   @media (max-width: 768px) {
      padding-bottom: 0;
      
      .wrapper {
         flex-direction: column;
         align-items: center;
      }

      form {
         order: 1;
         width: 80%;
         position: relative;
         top: 0;
         left: 0;
         margin-bottom: 50px;
      }

      .contact-info {   
         order: 2;
         width: 80%;
         margin-bottom: 50px;
         text-align: center;
         .icons {
            justify-content: center;
         }
      }

      .name-email-flex {
         flex-direction: column;
         
         input#name, input#email {
            width: 100%;
         }
      }

   }
}