@use '../global/variables' as v;

.gallery {
   background-color: v.$twilightblue;
   .wrapper {
      display: flex;
      justify-content: space-between;
   }

   .img-container {
      width: 30%;
   }

   @media (max-width: 768px) {
      .wrapper {
         flex-direction: column;
         gap: 40px;
      }

      .img-container {
         width: 100%;
      }
   }
}