@use './variables' as v;

.wrapper{
   max-width: 1260px;
   width: 80%;
   margin: 0 auto;
}

button, .button {
   color: v.$twilightblue;
   background-color: v.$dandelion;
   padding: 18px 36px;
   cursor: pointer;
   transition: 0.2s;
   &:hover, &:focus {
      background-color: white;
      color: v.$twilightblue;
   }
   &.secondary {
      color: white;
      background-color: v.$twilightblue;
      &:hover, &:focus {
         background-color: white;
         color: v.$twilightblue;
         border: 2px solid v.$twilightblue;
      }
   }

}

img {
   max-width: 100%;
   display: block;
   object-fit: cover;
   object-position: center;
}

section {
   padding: 100px 0;
}

footer {
   background-color: v.$dandelion;
   color: v.$twilightblue;
   text-align: center;
   padding: 5px;
   font-size: clamp(0.8rem, 1.6vw, 1.2rem);

}