html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #eafefc;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

button, .button {
  color: #0d457f;
  background-color: #fdd908;
  padding: 18px 36px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: white;
  color: #0d457f;
  border: 2px solid #0d457f;
}
button.secondary, .button.secondary {
  color: #fdd908;
  background-color: #0d457f;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #eafefc;
  color: #0d457f;
  border: 2px solid #0d457f;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section {
  padding: 100px 0;
}

footer {
  background-color: #fdd908;
  color: #0d457f;
  text-align: center;
  padding: 5px;
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, blockquote {
  font-family: "IM Fell English", serif;
  font-weight: normal;
  color: #0d457f;
  margin: 0;
}

h1 {
  font-size: 3.7rem;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: clamp(0.8rem, 1.6vw, 1rem);
  font-weight: 400;
}

nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

ul, li, a, input, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button, .button {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "IM Fell English", serif;
  line-height: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

#name::-webkit-input-placeholder, #email::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-weight: 100;
}

#name::-moz-placeholder, #email::-moz-placeholder, textarea::-moz-placeholder {
  font-weight: 100;
}

#name:-ms-input-placeholder, #email:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-weight: 100;
}

#name::-ms-input-placeholder, #email::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-weight: 100;
}

#name::placeholder,
#email::placeholder,
textarea::placeholder {
  font-weight: 100;
}

.home-header {
  background-image: url(../Boat-Ride-Adventures-final-assets/home-header.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*** MEDIA QUERIES ***/
}
.home-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  gap: 50px;
}
.home-header ul li {
  margin: 60px 0;
  padding: 0 3px 3px 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.home-header ul li:hover, .home-header ul li:focus {
  border-bottom: 2px solid #fdd908;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.home-header h1 {
  color: #fdd908;
  text-transform: uppercase;
  width: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: 0;
  margin: 20px;
}
.home-header .img-container {
  min-width: 300px;
  width: clamp(300px, 45%, 600px);
  position: absolute;
  right: 0;
  bottom: -100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1120px) {
  .home-header {
    height: 100vh;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .home-header .img-container {
    bottom: 0;
  }
  .home-header h1 {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 70%;
    font-size: clamp(2.5rem, 6vw, 3.7rem);
  }
}
@media (max-width: 950px) {
  .home-header h1 {
    font-size: clamp(1.7rem, 9vw, 3.7rem);
    translate: 0 -48vh;
  }
}
@media (max-width: 768px) {
  .home-header h1 {
    text-align: center;
  }
  .home-header ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}

.features {
  background-color: #eafefc;
}
.features .text-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;
}
.features .text-container {
  width: calc(50% - 25px);
  position: relative;
  left: 50px;
}
.features .text-container h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features .text-container i {
  display: inline-block;
  color: #0d457f;
  background-color: #fdd908;
  border-radius: 50%;
  padding: 8px;
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  top: 5px;
  left: -50px;
}
@media (max-width: 768px) {
  .features .text-container-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .text-container {
    width: 90%;
  }
  .features h2 {
    font-size: 1.5rem;
  }
  .features p {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  }
}

.programs {
  background-color: #0d457f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.programs h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 2rem);
}
.programs .flex-container-left, .programs .flex-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  gap: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.programs .img-container-left {
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  position: relative;
  bottom: 20px;
}
.programs .img-container-right {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  position: relative;
  top: 80px;
}
.programs .text-container-left, .programs .text-container-right {
  text-align: justify;
  margin: 20px 0;
}
.programs .text-container-left h2, .programs .text-container-right h2 {
  margin-bottom: 20px;
}
.programs .text-container-left p, .programs .text-container-right p {
  margin-bottom: 60px;
}
.programs .text-container-left .button:hover, .programs .text-container-left .button:focus, .programs .text-container-right .button:hover, .programs .text-container-right .button:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.programs .text-container-right {
  padding-right: 100px;
  margin: 0;
}
.programs .text-container-right h2 {
  margin-top: 40px;
}
.programs .text-container-left {
  -moz-text-align-last: right;
       text-align-last: right;
  padding-left: 100px;
}
.programs .text-container-left a {
  position: relative;
  bottom: 15px;
}
@media (max-width: 1000px) {
  .programs .flex-container-left, .programs .flex-container-right {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 45%;
  }
}
@media (max-width: 768px) {
  .programs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programs .flex-container-left, .programs .flex-container-right {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .programs .text-container-left, .programs .text-container-right {
    -moz-text-align-last: center;
         text-align-last: center;
    padding: 0;
    margin-left: 15%;
  }
  .programs .flex-container-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .programs .img-container-right {
    position: relative;
    left: 80px;
    margin-bottom: 80px;
  }
  .programs .text-container-right {
    margin-bottom: 40px;
  }
}

.gallery {
  background-color: #0d457f;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .carousel {
  width: 80vw;
  height: 50vh;
  position: relative;
}
.gallery .slide {
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.gallery .slide[data-active] {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.gallery .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: 25% 65%;
     object-position: 25% 65%;
}
.gallery .carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.gallery .carousel-button:hover,
.gallery .carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.gallery .carousel-button:focus {
  outline: 1px solid black;
}
.gallery .carousel-button.prev {
  left: 1rem;
}
.gallery .carousel-button.next {
  right: 1rem;
}
@media (max-width: 768px) {
  .gallery .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .gallery .img-container {
    width: 100%;
  }
}

.vacation-days {
  background-color: #eafefc;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  padding-bottom: 0;
}
.vacation-days p {
  margin-top: 30px;
  margin-bottom: 60px;
}
.vacation-days .img-container {
  margin-top: 50px;
  bottom: 0;
}
.vacation-days .text-container {
  margin: 50px 0 100px 0;
}
@media (max-width: 550px) {
  .vacation-days {
    margin-bottom: 20%;
  }
}

.win-trip {
  background-color: #eafefc;
}
.win-trip .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.win-trip .img-container {
  min-width: 300px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.win-trip .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 300px;
  max-height: 300px;
  margin-left: 10%;
}
.win-trip p {
  font-size: clamp(0.7rem, 1.6vw, 1rem);
}
.win-trip h2 {
  font-size: clamp(1.3rem, 3vw, 2rem);
}
@media (max-width: 900px) {
  .win-trip .img-container {
    min-width: 250px;
  }
  .win-trip .text-container {
    height: 250px;
    margin-left: 6%;
  }
  .win-trip .button {
    font-size: 0.6rem;
    padding: 3%;
  }
}
@media (max-width: 768px) {
  .win-trip .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .win-trip .img-container {
    display: none;
  }
  .win-trip .text-container {
    margin-bottom: 40px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .win-trip h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-left: 10%;
    margin-bottom: 5%;
  }
  .win-trip .button {
    padding: 3%;
    font-size: 0.8rem;
    position: absolute;
    bottom: -30%;
    left: 30%;
    right: 30%;
  }
  .win-trip p {
    font-size: clamp(0.8rem, 1.6vw, 1rem);
    text-align: justify;
  }
}
@media (max-width: 550px) {
  .win-trip {
    padding: 25% 0;
  }
  .win-trip h2 {
    margin-left: 0;
    margin-top: 20%;
  }
  .win-trip p {
    margin-bottom: 200px;
  }
}

.contact-header {
  background-image: url(../Boat-Ride-Adventures-final-assets/contact-header.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 75vh;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  gap: 50px;
}
.contact-header ul li {
  margin: 60px 0;
  padding: 0 3px 3px 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-header ul li:hover, .contact-header ul li:focus {
  border-bottom: 2px solid #fdd908;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contact-header h1 {
  font-size: clamp(2.7rem, 8vw, 3.7rem);
  color: #fdd908;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 20vh;
  margin: 20px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .contact-header h1 {
    font-size: clamp(2.2rem, 10vw, 3.7rem);
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  .contact-header ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4%;
  }
}
.contact-form {
  background-color: #eafefc;
  padding-bottom: 150px;
}
.contact-form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  background-color: #0d457f;
  gap: 50px;
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  width: 55%;
  min-width: 400px;
  max-width: 700px;
  position: absolute;
  top: 52%;
  left: 40%;
}
.contact-form form .name-email-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-form form input,
.contact-form form textarea {
  background-color: #0d457f;
  color: #fff;
  border: none;
  border-bottom: solid 2px #fdd908;
  font-size: clamp(0.8rem, 1.6vw, 1rem);
}
.contact-form form input::-webkit-input-placeholder, .contact-form form textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contact-form form input::-moz-placeholder, .contact-form form textarea::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contact-form form input:-ms-input-placeholder, .contact-form form textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contact-form form input::-ms-input-placeholder, .contact-form form textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}
.contact-form form textarea {
  border: solid 2px #fdd908;
  padding: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-form form textarea:focus, .contact-form form textarea:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border-width: 3px;
}
.contact-form form input#name,
.contact-form form input#email {
  width: 48%;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  opacity: 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-form form input#name:focus, .contact-form form input#name:hover,
.contact-form form input#email:focus,
.contact-form form input#email:hover {
  -webkit-transform: scaleX(1.08);
          transform: scaleX(1.08);
  border-bottom-width: 3px;
}
.contact-form form button {
  border: none;
  text-transform: uppercase;
  font-family: "IM Fell English", serif;
}
.contact-form form button:hover, .contact-form form button:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.contact-form i {
  margin-right: 20px;
  color: #0d457f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-form i:hover, .contact-form i:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-form .contact-info {
  width: 30%;
  position: relative;
  left: 0;
}
.contact-form .contact-info span {
  display: inline-block;
  padding: 20px 0;
}
.contact-form .contact-info p {
  font-size: clamp(0.8rem, 1.6vw, 1rem);
  margin-bottom: 5px;
}
.contact-form .contact-info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
}
@media (max-width: 768px) {
  .contact-form {
    padding-bottom: 0;
  }
  .contact-form .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
  }
  .contact-form .contact-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    margin-bottom: 50px;
    text-align: center;
  }
  .contact-form .contact-info .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form .name-email-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form .name-email-flex input#name, .contact-form .name-email-flex input#email {
    width: 100%;
  }
}

.blog-header {
  background-image: url(../Boat-Ride-Adventures-final-assets/blog-header.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.blog-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  gap: 50px;
}
.blog-header ul li {
  margin: 60px 0;
  padding: 0 3px 3px 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.blog-header ul li:hover, .blog-header ul li:focus {
  border-bottom: 2px solid #fdd908;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blog-header h1 {
  color: #ffffff;
}
@media (max-width: 768px) {
  .blog-header ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4%;
  }
  .blog-header h1 {
    text-align: center;
    position: relative;
    top: 15vh;
  }
}

.full-page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}
@media (max-width: 768px) {
  .full-page-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

aside {
  width: 45%;
  height: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
aside .img-container {
  position: absolute;
  z-index: 10;
  width: 100%;
}
aside .text-background {
  background-color: #0d457f;
  padding: 100% 10% 10% 10%;
  height: 95%;
  position: relative;
  left: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
aside h3 {
  color: #fdd908;
  margin-bottom: 10px;
  font-size: clamp(1.1rem, 2.8vw, 1.6rem);
}
aside p, aside li {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: clamp(0.8rem, 1.6vw, 1rem);
}
aside li {
  list-style: circle;
  list-style-position: inside;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
aside li:hover, aside li:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: solid 2px #fdd908;
}
@media (max-width: 768px) {
  aside {
    width: 100%;
    margin-top: 0;
  }
  aside .img-container {
    display: none;
  }
  aside .text-background {
    position: static;
    padding: 10%;
  }
  aside h3 {
    font-size: 1.5rem;
  }
}

.blog {
  width: 100%;
  padding: 0;
  position: relative;
  bottom: 100px;
}
.blog .img-container-blog {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  width: calc(100% - 20px);
  position: relative;
  left: 20px;
}
.blog .blog-post {
  border-left: solid 2px #fdd908;
  border-bottom: solid 2px #fdd908;
  padding: 100px 10%;
}
.blog .blog-post .text-container {
  width: 100%;
}
.blog .blog-post p {
  margin: 10px 0;
}
@media (max-width: 768px) {
  .blog {
    position: static;
    margin: 0;
    padding-bottom: 100px;
  }
  .blog .blog-post {
    width: 100%;
    padding: 0 10%;
    border: none;
  }
  .blog .blog-post .text-container {
    padding-right: 0;
  }
  .blog .blog-post h2 {
    margin: 40px 0 20px 0;
  }
  .blog .img-container-blog {
    -webkit-box-shadow: 0 20px #fdd908;
            box-shadow: 0 20px #fdd908;
    position: static;
    width: 100%;
  }
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
}
.comments .ali {
  margin-bottom: 100px;
}
.comments .lisa {
  margin-bottom: 20px;
}
.comments .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  gap: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.comments .comment-container:hover, .comments .comment-container:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.comments .comment-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comments .comment-container .img-container {
  min-width: 80px;
}
.comments .comment-container h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: clamp(1rem, 1.8vw, 1.2rem);
}
.comments .comment-container p {
  font-size: clamp(0.8rem, 1.5vw, 1.1rem);
  font-weight: 400;
}
@media (max-width: 768px) {
  .comments {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .comments h3 {
    font-size: 1.5rem;
  }
  .comments .comment-container h4 {
    font-size: clamp(0.9rem, 2.8vw, 1.2rem);
  }
  .comments .comment-container p {
    font-size: clamp(0.7rem, 2.2vw, 1rem);
  }
}

.blog-form {
  position: relative;
}
.blog-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  background-color: #eafefc;
  gap: 50px;
  max-width: 700px;
}
.blog-form form .name-email-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-form form input,
.blog-form form textarea {
  background-color: #eafefc;
  border: none;
  border-bottom: solid 2px #fdd908;
  font-size: clamp(0.8rem, 1.6vw, 1rem);
}
.blog-form form input::-webkit-input-placeholder, .blog-form form textarea::-webkit-input-placeholder {
  color: #0d457f;
  opacity: 1;
}
.blog-form form input::-moz-placeholder, .blog-form form textarea::-moz-placeholder {
  color: #0d457f;
  opacity: 1;
}
.blog-form form input:-ms-input-placeholder, .blog-form form textarea:-ms-input-placeholder {
  color: #0d457f;
  opacity: 1;
}
.blog-form form input::-ms-input-placeholder, .blog-form form textarea::-ms-input-placeholder {
  color: #0d457f;
  opacity: 1;
}
.blog-form form input::placeholder,
.blog-form form textarea::placeholder {
  color: #0d457f;
  opacity: 1;
}
.blog-form form textarea {
  border: solid 2px #fdd908;
  padding: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0d457f;
}
.blog-form form textarea:focus, .blog-form form textarea:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border-width: 3px;
}
.blog-form form input#name,
.blog-form form input#email {
  width: 48%;
  padding: 10px 20px;
  color: #0d457f;
  opacity: 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.blog-form form input#name:focus, .blog-form form input#name:hover,
.blog-form form input#email:focus,
.blog-form form input#email:hover {
  -webkit-transform: scaleX(1.08);
          transform: scaleX(1.08);
  border-bottom-width: 3px;
}
.blog-form form button {
  border: none;
  text-transform: uppercase;
  font-family: "IM Fell English", serif;
}
.blog-form form button:hover, .blog-form form button:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
@media (max-width: 768px) {
  .blog-form form form {
    width: 100%;
    min-width: 200px;
  }
  .blog-form form .name-email-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .blog-form form input#name, .blog-form form input#email {
    width: 100%;
  }
}